/* Container của thanh */
.banner-container {
    margin:20px 0px 10px 0px;
    width: 100%; 
    overflow: hidden; 
    background-color: #FDDA00; 
    white-space: nowrap; /* Giữ nội dung trên cùng một dòng */
    box-shadow: 0 4px 8px #FDDA00; 
    height:30px;
    align-items: center;
  }
  .banner-text {
    display: inline-block; 
    font-size: 20px; 
    color: #EE263E; 
    animation: scroll 40s linear infinite; 
    font-weight: bold;
    align-items: center;
  }
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%); 
    }
  }