body {
    background-color: white;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .header {
    list-style-type:none;
    width: 100%;
    background-color: white;
  }
  .header__navbar--1 {
    list-style-type:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .header__navbar--logo {
    padding-left:50px;
    display: flex;
    align-items: center;
  }
  .header__navbar--logo_img {
    height: 40px;
  }
  .search--container {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 25px; /* Bo tròn khung */
    width: 900px; /* Độ rộng khung */
    border: 1px solid #ddd; /* Viền */
    margin: 0px 10px 0px 10px;
    height:40px;
  }
  .search--input {
    padding-left:20px;
    border: none;
    outline: none;
    background: transparent;
    flex:0.99;
    font-size: 12px;
    color: #333;
  }
  .search--icon {
    font-size: 20px;
    color: #333;
    width: 25px;
    height: 20px;
  
  }
  .search--button{
    border: none;
    outline: none;
    height:25px;
    width:30px;
  }

  .search--input::placeholder {
    color: #aaa; /* Màu chữ placeholder */
    font-weight:600;
    font-size: 12px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .search_result{
    height:30px;
    width:200px;
    color: #003366; /* Màu chữ placeholder */
    font-weight:500;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius:10px;
    border: 2px solid #003366;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .store--container{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    color:#003366;
    text-decoration: none;
    gap: 5px;
    font-size:8px;
  }
  
  .footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f1f1;
  border-top: 1px solid #e0e0e0;
  }
  
  .footer-section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 45%;
  }
  
  .footer-title {
  font-size: 18px;
  margin-bottom: 10px;
  color:#003366;
  }
  
  .footer-list {
  list-style: none;
  padding: 0;
  color: #003366
  }
  
  .footer-list li {
  margin-bottom: 5px;
  color:#003366;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  
  }
  .menungang {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    padding: 0px 0px 10px 80px;
    border-bottom: 1px solid #191970; /* Viền dưới cho menu */
    border-top: 1px solid #191970;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: white;
    justify-content: space-between;
    align-items: center;
  }
  
  .menungang__a {
    text-decoration: none;
    color: #003366;
    margin: 0 10px;
    font-weight: bolder;
    position: relative; /* Để tạo hiệu ứng dưới */
    font-size: 12px;
    display:inline-flex;
    cursor: pointer;
  }
  
  .menungang__a:hover {
    color: #000033; /* Màu chữ khi hover */
  }
  
  .menungang__a::after { /*over dưới chân*/
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #B22222; /* Màu viền dưới */
    transition: width 0.3s; /* Hiệu ứng chuyển tiếp */
    position: absolute;
    left: 50%;
    bottom: -4px; /* Đặt viền dưới */
    transform: translateX(-50%);
  }
  
  .menungang__a:hover::after,
  .menungang__a.active::after {
    width: 100%; /* Đầy chiều rộng khi hover hoặc active */
  }
  
  .login-icon {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    color: #003366;
    border: 1px solid #909090;
    background-color: #f1f1f1;
    border-radius: 20px; /* Bo tròn khung */
    padding-top:5px;
    width: 80px; /* Độ rộng khung */
    height: 25px; /* Chiều cao khung */
    border: 1px solid #ddd; /* Viền */
  }
  
  .menungang__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px; /* Khoảng cách giữa các biểu tượng */
    margin: 10px 10px 0px 0px;
  
  }
  