body {
    background-color: #F5F5F5;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container_detail {
    max-width: 1300px;
    margin: 0px 0px 0px 80px;
    padding: 10px;
    background: white;
    border-radius: 10px;
}
.grid {
    width: 100%;
    overflow: hidden; 
    display: flex;
}

/* Phần hình ảnh */
.image-section {
    width: 50%;
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

.main-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* Thumbnails */
.thumbnails {
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
}

.thumbnails img {
    width: 120px;
    height: 80px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
}

.thumbnails img:hover {
    border-color: #002856;
}

.product-details {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.name{
    color:#002856;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.price {
    font-size: 25px;
    color: #8B0000;
    padding-top: 10px;
    font-weight: bold;
}

/* Nhãn "Chỉ có trên mạng" */
.online-exclusive {
    color:#383838;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px 0;
    font-weight: 600;
}
.rating {
    display: flex;
    align-items: center;
}

.stars {
    display: flex;
}

.star {
    width: 20px;
    height: 20px;
    background-color: green;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin-right: 5px; 
}

.reviews {
    margin-left: 10px; 
    font-size: 16px;
    color: #000;
}
.buy {
    background-color: #002856;
    color: white;
    padding: 10px 20px;
    border: 2px solid #002856;
    width: 100%;
    font-size: 16px;
    margin: 190px 10px 10px 0px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}
.buy:hover {
    color:#002856;
    background: white;
    width:105%;
    font-size: 16px;
}
.text_detail{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#002856;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}

.product-title {
    font-size: 18px;
    color:#002856;
    font-weight: bold;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product-description {
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
}
.features-list {
    list-style-type: disc;
    padding-left: 20px;
}
.table-title {
    font-size: 15px;
    color:#383838;
    font-weight: bold;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.table-container {
    width:500px;
    height:auto;
    margin: 5px 200px 5px 520px ;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.table_tp{
    display: flex;
    height:20px;
    width:500px;
    border-bottom: 1px solid #383838 ;
    color:#333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    padding:10px;

}
